[Desktop Entry]
Name=Desktopfreigabe (x11vnc+ssh)
Comment=X11VNC über SSH-Tunnel
Exec=gnome-terminal --window -- /usr/local/bin/x11vnc.sh
Path=
Icon=screen-shared-symbolic
Terminal=false
StartupNotify=false
Type=Application
Categories=Network;
